@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-[#666];
}

* {
  @apply p-0 m-0 box-border;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  @apply text-black font-[600] tracking-tight;
}

.dotted-bg {
  min-height: 100vh;
  background-image: radial-gradient(
      #5e00f631 0.9500000000000001px,
      transparent 0.9500000000000001px
    ),
    radial-gradient(#5e00f631 0.9500000000000001px, #ffffff 0.9500000000000001px);
  background-size: 38px 38px;
  background-position: 0 0, 19px 19px;
}

::selection {
  @apply bg-gray-100;
}

.loader {
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
