@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-[#666] overflow-x-hidden;
}

li {
  @apply list-none;
}

* {
  @apply p-0 m-0 box-border leading-[1.7];
}

.tiptap {
  @apply -mt-[50px];
}

.tiptap p:first-child {
  @apply -mt-[30px];
}

textarea {
  @apply min-h-[150px];
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  @apply text-black font-[600] tracking-tight;
}

.post-content {
  @apply leading-8;
}

.post-content a {
  @apply underline;
}

.post-content hr {
  @apply my-5;
}

.post-content h2 {
  @apply text-2xl;
}
.post-content h1 {
  @apply text-3xl;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  @apply mt-10 mb-5;
}

.post-content blockquote {
  @apply my-5 bg-gray-100 rounded-xl;
}

.post-content img {
  @apply my-3 rounded-2xl;
}

.post-content ul {
  @apply list-disc ml-4 mt-2;
}

.dotted-bg {
  min-height: 100vh;
  background-image: radial-gradient(
      #5e00f631 0.9500000000000001px,
      transparent 0.9500000000000001px
    ),
    radial-gradient(#5e00f631 0.9500000000000001px, #ffffff 0.9500000000000001px);
  background-size: 38px 38px;
  background-position: 0 0, 19px 19px;
}

.post-content pre {
  border: 1px solid #f3f3f3;
  padding: 4px 20px;
  border-radius: 10px;
  background: #f8f8f8;
}

::selection {
  @apply bg-gray-100;
}

.loader {
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
